.hidden {
    display: none;
}

#controls {
    margin-bottom: 20px;
}

#draft-letters button,
#submit-word-button,
#finish-button {
    margin: 5px;
}

#guess-letters {
    margin-top: 10px;
}

.letter-button {
    margin: 3px;
    padding: 10px;
    font-size: 18px;
}

.vowel {
    color: red;
}

.announcement {
    margin-top: 10px;
    font-size: 1.2em;
    color: red;
}

.missed-words {
    margin-top: 10px;
    font-size: 1.2em;
    color: blue;
}

#leaderboard {
    margin-top: 20px;
}

#leaderboard-list {
    list-style-type: none;
    padding: 0;
}

#leaderboard-list li {
    margin-bottom: 5px;
}

.hidden {
    display: none;
}